# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
ENV/
.venv/

# IDE folders
.idea/
.vscode/

# Python packaging
*.egg
*.egg-info/
dist/
build/

# Logs and environments
*.log
.env
